#profile-pic{
    height: 120px;
    width: 120px;
    border-radius: 50%;

}


#comment-pic{
    height: 70px;
    width: 70px;
    border-radius: 50%;

}

.wrap{
    white-space: normal;
}

.title{
    width:100%:
    /* padding: 1px 1px 1px 1px; */
}
